html {
    height: 100%;
    box-sizing: border-box;
}

body {
    min-height: 100%;
    box-sizing: inherit;
}

[v-cloak] {
    display: none
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
.datepicker table tr td.today {
    background-color: #007bff !important;
    color: white !important;
    border-radius: 50%;
}
.datepicker table tr td.today:hover {
    background-color: #0056b3 !important;
    color: white !important;
}
